<%if current_user %>
	<a class="button" href="/restaurants/new"><button>Add new Restaurant</button></a>
<% end %>

<div class="general-container">
	<% @restaurants.each do |restaurant| %>
	<div class="restaurant-list">
		<h3><a href="/restaurants/<%= restaurant.id %>"> <%= restaurant.name %> </a></h3>
		<p><%= restaurant.city%>, <%= restaurant.state %></p>
		
		<%if current_user == restaurant.author %>
			<a href="/restaurants/<%= restaurant.id %>/edit">edit</a>
			<form action='/restaurants/<%= restaurant.id %>' method='post'>
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete" >
			</form>
			<br>
		<% end %>
	</div>
	<% end %>
</div>